@page "/SendMessage"
@using BusinessServices
@inject IZaloPromotionServices _promotionServices
@inject IZaloServices _zaloServices

<button @onclick=SeedMember>Seed</button>

@code {
    async Task SeedMember()
    {
        await _zaloServices.SendTestPromotion();
    }
}
