@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Admin Management" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Style="width: 250px;" @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Path="/" Text="Trang chủ" />
            <RadzenPanelMenuItem Path="/restaurants" Text="Nhà hàng" />
            <RadzenPanelMenuItem Path="/menus" Text="Menu" />            
            <RadzenPanelMenuItem Path="/promotions" Text="Khuyến mãi" />
            <RadzenPanelMenuItem Path="/admin/Blogs" Text="Blogs" />
            <RadzenPanelMenuItem Path="/admin/support-requests" Text="Support Request" />
            <RadzenPanelMenuItem Path="/admin/web-details" Text="Web Details" />           
            <AuthorizeView Roles="admin">
                <Authorized>
                    <RadzenPanelMenuItem Path="/admin/users" Text="Account" />
                </Authorized>
            </AuthorizeView>
            <RadzenPanelMenuItem Path="/" Text="Log Out" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-0">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents @rendermode="InteractiveServer" />

@code {
    bool sidebar1Expanded = true;
}
