<!-- Header -->
<div class="header container-fluid p-0 m-0 ">
    <div class="py-1">
        <div class="container d-flex justify-content-center align-items-center gap-2">
            <div class="menuIcon">
                <i class="bi bi-house-door-fill"></i>
            </div>
            <div class="menuIcon">
                <i class="bi bi-ticket-perforated-fill"></i>
            </div>
            <div class="menuIcon">
                <i class="bi bi-person-fill"></i>
            </div>
        </div>
    </div>
</div>

<!-- Header -->
<div class="d-flex justify-content-end p-2">
    <div class="translate d-flex justify-content-center align-items-center gap-2">
        <div class="translateFlags">
            <img src="./image/vi.webp" alt="">
        </div>
        <h3>VN</h3>
    </div>
</div>
<!-- Session 1 -->